@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');

.navbar {
  background: rgb(253, 251, 252);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
 
}

